footer {
  padding: 50px 50px;
  background-color: var(--primary-color);
}
footer a {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
footer img {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.footer {
  width: 100%;
  flex-direction: column;
  max-width: 3840px;
}
.flex-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer h1 {
  color: white;
}
.inner-container-top {
  padding: 40px 50px;
  justify-content: space-between;
  width: 80%;
}
.inner-container-top a {
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
}
.left-links a {
  margin-right: 40px;
}
.right-links a {
  margin-left: 40px;
}

hr {
  border-color: var(--Secondary-color);
  width: 80%;
  transition: width 300ms ease-in-out;
  margin-bottom: 5vh;
}
hr:hover {
  width: 85%;
  transition: width 300ms ease-in-out;
}

.inner-container-bottom img {
  margin-left: 30px;
}

/*hover*/
footer a:hover {
  transform: scale(0.95);
  transition: transform 300ms ease-in-out;
}
footer img:hover {
  transform: scale(0.95);
  transition: transform 300ms ease-in-out;
}
/*media*/

@media (max-width: 1200px) {
  .flex-footer {
    flex-direction: column;
  }
  .left-links a {
    margin: 20px 0;
  }
  .right-links a {
    margin: 20px 0;
  }
  .inner-container-top img {
    margin: 20px 0;
  }
}
